header, footer {
    background-color: black;
    color: orange;
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    opacity: 0.8;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    text-align: center;
  }
  
  li {
    display: inline-block;
  }
  
  li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: orange;
    color: black;
  }
  
body{
    background-image: url(../Imgs/LB2.jpg);
    text-align: center;

}

section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0.9;
}

h1,h2,h3{
    font-family:'Bubblegum Sans';
    color: orange;
    font-size: 40px;
}


p,li{
    font-family: 'Open Sans';
}
